@charset "utf-8";
/* CSS Document */

body {
  margin: 0 auto;
  padding: 0;
  font: 20px/1.6 'Helvetica Neue', Arial, sans-serif;
  background-color:rgba(0, 0, 0, 0.904);
  color: rgb(250, 138, 74);
  text-rendering: optimizeLegibility; }

.aui_images{
  height: 200px;
  width: 200px;
}
